* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__loginContainer {
  padding: 2px;
  border: 1px solid lightgray;
  /* background-color: red; */
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  background-color: white;
}

.app__headerImage {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp__input {
  margin: 10px !important;
  /* background-color: red !important; */
}

.app__signUp__button {
  margin-top: 10px !important;
  width: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

@media all and (max-width: 500px) {
  .app__posts {
    flex-direction: column;
    padding: 0px;
  }
  .app__postsRight {
    margin: 0px;
  }
  .myModal {
    width: 70% !important;
    /* background-color: red !important; */
  }
  .app__postsRight {
    margin-left: auto;
    margin-right: auto;
  }
}